Desktop/Lenguaje_De_Marcas/precios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
<xs:simpleType name="fichas">
    <xs:restriction base="xs:decimal">
       <xs:totalDigits value="3"></xs:totalDigits>
       <xs:fractionDigits value="2"></xs:fractionDigits>
    </xs:restriction>
</xs:simpleType>    
    <xs:element name="precios">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="precio" maxOccurs ="unbounded" type="xs:decimal"></xs:element>    
            </xs:sequence>
        </xs:complexType>    
    </xs:element>    
</xs:schema> 